@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}
.humberger {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 20px;
    background-color: #7c8c8c;
    color: #ffccb2;
  }

  .nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 0 100px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .header {
    margin-top: 50px;
    text-align: center;
    text-wrap: balance;
  }

  .header h1 {
    font-size: 4rem;
  }

  .header p {
    margin-top: 10px;
    font-size: 1.5rem;
  }

  .content {
    margin-top: 50px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 100px;
  }

  .name-input {
    display: flex;
    justify-content: space-between;
  }

  .name-input > .surname {
    display: flex;
    flex-direction: column;
  }

  #fname,
  #lname {
    width: 350px;
    font-size: 1.2rem;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
  }

  .email,
  .p-number,
  .message {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  #email,
  #p-number {
    height: 40px;
    border-radius: 5px;
    border: none;
  }

  #message {
    height: 100px;
  }

  .checkbox{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .checkbox > input{
    width: 25px;
    margin-right: 10px;
  }
 
  #btn{
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: none;
    background-color: #005CA4;
    color: #E5DFCF;
  }

  footer {
    margin-top: 100px;
    border-top: 2px solid black;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .media-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-size: 2rem;
  }

  .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
  }
}
