@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* unvisited link */
a {
    color: inherit;
    text-decoration: none;
    cursor: default;
    outline: none;
}
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
    outline: none;
}

body{
    background-color: #EEEEEE;
}
@media only screen and (min-width: 1200px) {
    .footer{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 344px;
        border-top: 1px solid black;
        margin-top: 50px;
    }
    .footer .media-logo{
        /* font-size: 2.5vw; */
        font-size: clamp(0px, 2.5vw, 50px);
        gap: 30px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .footer .copyright{
        /* font-size: 1.5vw; */
        font-size: clamp(0px, 1.5vw, 30px);
    }
}