@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Palanquin+Dark:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Palanquin+Dark:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Palanquin+Dark:wght@400;500;600;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
body{
    box-sizing: border-box;
}


@media only screen and (min-width: 1200px) {
    body{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    /* Header */
    .header {
        padding: 0 100px;
        max-width: 1800px;
    }
    .header h1{
        color: #222831;
        font-size: clamp(16px, 3.5vw, 70px);
        font-family: "Oswald", sans-serif;
        /* font-style: italic; */
        font-weight: 800;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .header p{
        color: #393E46;
        font-size: clamp(16px, 2vw, 50px);
        /* font-family: "Open Sans", sans-serif; */
        font-family: "Bebas Neue", sans-serif;  
        /* font-style: italic; */
        /* font-style: normal; */
        font-weight: normal;
        text-align: center;
        margin: 0; /* Added margin to avoid extra spacing */
    }

    .team h1{
        font-family: "Bebas Neue", sans-serif;
        font-size: clamp(16px, 3.5em, 50px);
        font-weight: normal;
        text-align: center;
        color: #222831;
        margin: 20px 0 20px 0; /* Added margin to avoid extra spacing */
    }
    
    .team{
        padding: 0 78px;
        gap: 30px;
        display: flex;
        flex-direction: column;
        max-width: 1800px;
    }

    .card{
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
        max-width: 1800px;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        background-color: rgba(57, 62, 70);
        padding: 20px 28px;
        box-sizing: border-box;
    }
    .card .card-img img{
        width: clamp(200px, 16.67vw, 320px);
        background-color: rgba(0, 173, 181, 0.6);
        border-radius: 20px;
    }
    .card .card-img {
        margin-right: 48px;
    }

    .card .card-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        width: calc(100% - 200px - 48px);
        box-sizing: border-box;
    }

    .card .card-description h1{
        font-size: clamp(50px, 3.5rem, 100px);
        font-family: "Oswald", sans-serif;
        font-weight: 900;
        margin: 0 0px 32px 0;
        padding-left: 0;
        display: flex;
        justify-content: flex-start;
        color: rgba(0, 173, 181, 1);
    }
    .card-description p{
        font-size:clamp(40px, 2em, 60px);
        margin: 0;
        color: #EEEEEE;
    }
    .btn {
        justify-self: flex-end;
        align-self: flex-end;
        font-size: 40px;
        margin-top: 45px;
        background-color: rgba(0, 173, 181);
        border-radius: 20px;
        padding: 18px 32px;
        margin-top: auto; 
        align-self: flex-end;
    }
    .card2{
        justify-content: space-between;
    }
    .card2 .card-img{
        justify-self: flex-end;
        margin-right: 0;
    }
    .card2 .btn{
        align-self: flex-start;
    }

    .card3 {
        flex-direction: column;
    }

    .card3 h1{
        font-size: 50px;
        font-family: "Bebas Neue", sans-serif;
        color: rgba(0, 173, 181);
        margin: 0 0px 32px 0;
        padding-left: 0;
        display: flex;
        justify-content: flex-start;
    }
    .card3 p{
        font-size: 40px;
        font-family: "Bebas Neue", sans-serif;
        margin: 0 0px 32px 0;
        padding-left: 0;
        display: flex;
        justify-content: flex-start;
        color: rgba(238, 238, 238);
    }
}
