@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Palanquin+Dark:wght@400;500;600;700&display=swap');

body{
    background-color: #7C8C8C;
    box-sizing: border-box;
}

@media only screen and (min-width: 1200px) {
    body{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    /* Header */
    .header {
        padding: 0 100px;
        max-width: 1800px;
    }
    .header h1{
        color: #FFCCB2;
        font-size: 3.5vw;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-weight: 800;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .header p{
        color: #FFE4D5;
        font-size: 2vw;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-weight: 800;
        text-align: center;
        margin: 0; /* Added margin to avoid extra spacing */
    }

    .team h1{
        font-family: "Bebas Neue", sans-serif;
        font-size: 36px;
        font-weight: normal;
        text-align: center;
        color: #FFCCB2;
        margin: 20px 0 20px 0; /* Added margin to avoid extra spacing */
    }
    
    .team{
        padding: 0 78px;
        gap: 30px;
        display: flex;
        flex-direction: column;
        max-width: 1800px;
    }

    .card{
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        background-color: #E5DFCF;
        padding: 20px 28px;
        box-sizing: border-box; /* Added to include padding in the total width */
    }
    .card .card-img img{
        width: 200px;
        background-color: #7C8C8C;
        border-radius: 20px;
    }
    .card .card-img {
        margin-right: 48px;
    }

    .card .card-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        width: calc(100% - 200px - 48px);
        box-sizing: border-box;
    }

    .card .card-description h1{
        font-size: 50px;
        font-family: "Palanquin Dark", sans-serif;
        font-weight: 900;
        margin: 0 0px 32px 0;
        padding-left: 0;
        display: flex;
        justify-content: flex-start;
    }
    .card-description p{
        font-size: 40px;
        margin: 0;
    }
    .btn {
        justify-self: flex-end;
        align-self: flex-end;
        font-size: 40px;
        margin-top: 45px;
        background-color: #FFF3B2;
        border-radius: 20px;
        padding: 18px 32px;
    }
    .card2{
        justify-content: space-between;
    }
    .card2 .card-img{
        justify-self: flex-end;
        margin-right: 0;
    }
    .card2 .btn{
        align-self: flex-start;
    }

    .card3 {
        flex-direction: column;
    }

    .card3 h1{
        font-size: 50px;
        font-family: "Bebas Neue", sans-serif;
        color: #000;
        margin: 0 0px 32px 0;
        padding-left: 0;
        display: flex;
        justify-content: flex-start;
    }
    .card3 p{
        font-size: 40px;
        font-family: "Bebas Neue", sans-serif;
        margin: 0 0px 32px 0;
        padding-left: 0;
        display: flex;
        justify-content: flex-start;
    }
}
