a {
  color: inherit;
  text-decoration: none;
  cursor: default;
  outline: none;
}
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  outline: none;
}
@media only screen and (max-width: 768px) {
  #navlist.show {
    display: block;
  }
  .nav-bar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    box-sizing: border-box;
    background-color: #7c8c8c;
    flex-direction: column-reverse;
  }
  .nav-bar ul {
    display: none;
    list-style-type: none;
    font-size: 32px;
    color: #ffccb2;
  }
  .nav-bar .humberger {
    display: flex;
    align-self: flex-end;
    /* margin-right:20px;
        margin-top: 8px; */
    padding: 8px 20px;
  }
  .nav-bar .humberger i {
    color: white;
    font-size: 28px;
  }
}
