@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* unvisited link */
a {
    color: inherit;
    text-decoration: none;
    cursor: default;
    outline: none;
}
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
    outline: none;
}

body{
    background-color: #7C8C8C;
}
@media only screen and (min-width: 1200px) {
    .nav-bar{
        width: 100vw;
    }
    #navlist {
        display: flex;
        flex-direction: row;
        font-size: 2vw;
        list-style-type: none;
        justify-content: space-around;
        padding: 20px 100px;
        color: #FFCCB2;
    }
}