@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Lora:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Palanquin+Dark:wght@400;500;600;700&family=Roboto+Slab:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1200px){
.content{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-content{
  font-family: "Poppins", sans-serif !important;
  width: 30%;
}
.left-content h1{
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(0px,3em, 100px);
  padding: 0;
  margin: 0;
}
.left-content p{
  font-size: clamp(0px,1.2em, 50px);
}


.middle-left .btn1, .middle-left .btn2{
  border: none;
  font-size: 20px;
  padding: 20px 20px;
  border-radius: 10px;
}
.middle-left .btn1{
  background-color: #d1d1d1;
}
.middle-left .btn2{
  background-color: #f5f5f5;
}
.buttom-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.buttom-left p{
  font-size: 20px;
}
.buttom-left span{
  background-color: #d1d1d1;
  padding: 5px 8px;
  border-radius: 50%;
}
.right-content{
  font-family: "Poppins", sans-serif !important;
}
.right-content p{
  position: relative;
  bottom: 300px;
  left: 250px;
  z-index: 1;

}
.frame-img{
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #d1d1d1;
}
.frame-img img{
  width: 100%;
  position: relative;
  z-index: 1;
}
}