.humberger {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .nav-bar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
}
