@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}
.humberger {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 20px;
    background-color: #7c8c8c;
    color: #ffccb2;
  }

  .nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
