@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Lora:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Palanquin+Dark:wght@400;500;600;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
body{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Lora:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body{
    background-color: #7C8C8C;
}

@media only screen and (max-width: 768px) {
    .header {
        padding: 0 50px;
    }
    .header h1{
        color: #2c2c2c;
        font-size: 36px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 800;
        text-align: center;
    }
    .header p{
        color: #666;
        font-size: 16px;
        font-family: "Roboto Slab", serif;
        font-weight: normal;
        text-align: center;
    }
    .project-part{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: calc(100%-50px); */
    } 

    .project-part h1{
        font-family: "Bebas Neue", sans-serif;
        color: #2c2c2c;
        font-size: 36px;
        font-weight: normal;
        text-align: center;
    }

    .card {
        width: 100%;
        border-radius: 20px;
        max-width: 500px;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #fff;
    }

    .card .description{
        padding: 20px 20px;
    }

    .card p{
        font-family: "Roboto Slab", serif;
        font-size: 16px;
        color: #333;
    }
 
    .card .nameProject{
        font-family: "Bebas Neue", sans-serif;
        color: #333;
        font-size: 32px;
        font-weight: normal;  

    }

    .card .project-img{
        width: 100%;
        
    }
    .card .project-img img{
        width: 100%;
        position: relative;
        top: 5px;
    }

    .tech{
        font-family: "Bebas Neue", sans-serif;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .tech .item{
        display: flex;
        flex-direction: row;
        height: 48px;
        gap: 12px;
        width: 100%;
        overflow-x: auto;
    }
    .tech .item::-webkit-scrollbar{
        display: none;
    }
    .item1, .item2, .item3{
        display: flex;
        flex-direction: row;
        font-size: 16px;
        border: 1px solid black;
        align-items: center;
        padding: 15px 20px;
        gap: 4px;
        border-radius: 20px;
        width: 140px;
        background-color: #fafafa;
    }


    /* main-part */
    .main-part{
        font-family: "Bebas Neue", sans-serif;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    .tech h1{
        color: #333;
        font-weight: normal;
    }
    .main-part h1{
        font-weight: normal;
    }
    .main-part .mainCard{
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); 
        border-radius: 20px;
        border: 1px solid #ccc;
        max-width: 500px;
        padding: 0 20px;
        margin-bottom: 20px;
        background-color: #fff;
        padding-bottom: 20px;

    }
    .main-part .mainCard .card_header_text{
        font-size: 32px;
        text-align: center;
    }
    .main-part .mainCard .card_description{
        font-family: "Roboto Slab", serif;
        text-align: center;
    }
    .main-part .mainCard .img{
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }

    body{
        display: flex;
        flex-direction: column;
    }
    .skill {
        max-width: 500px;
        align-self: center;
        justify-self: center;
        padding: 0 19px 60px 19px;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin-bottom: 60px;
        background-color: #fff;
        margin-right: 20px;
        margin-left: 20px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    }

    .skill_header{
        font-size: 32px;
        text-align: center;
        margin-bottom: 22px;
        
    }
    .card_header_text{
        font-size: 32px;
        color: #333; 
        text-align: center;
        margin-bottom: 20px;
    }

    .skill_list{
        display: flex;
        flex-wrap: wrap;
        gap: 12px 20px;
        justify-content: center;
    }

    .logoSkill{
        display: flex;
        flex-direction: row;
        font-size: 16px;
       border: 1px solid #ccc; 
        align-items: center;
        padding: 15px 20px;
        gap: 4px;
        border-radius: 20px;
        width: 140px;
    }
}