@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Palanquin+Dark:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #7C8C8C;
    box-sizing: border-box;
}

@media only screen and (min-width: 1200px) {
    body{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    /* Header */
    .header {
        margin-top: 50px;
        padding: 0 100px;
        max-width: 1800px;
    }
    .header h1{
        color: #FFCCB2;
        font-size: clamp(16px, 3.5vw, 70px);
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-weight: 800;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .header p{
        color: #FFE4D5;
        font-size: clamp(16px, 2vw, 50px);
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-weight: 800;
        text-align: center;
        margin: 0; /* Added margin to avoid extra spacing */
    }

    .project-part {
        max-width: 1800px;
        overflow: hidden;
    }
    .card{
        overflow: hidden;
    }
    .project-part{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .project-part h1{
        font-family: "Bebas Neue", sans-serif;
        color: #025a4e;
        font-size: clamp(16px, 3.5vw, 70px);
        font-weight: normal;
        text-align: center;
    }
    .project-part p{
        font-family: "Bebas Neue", sans-serif;
        color: #FFCCB2;
        font-size: clamp(16px, 2.5vw, 50px);
        font-weight: normal;
        text-align: center;
    }

    .card {
        border-radius: 20px;
        border: 1px solid black;
        background-color: #d9d9d9;
    }

    .card .description{
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .card p{
        font-family: "Bebas Neue", sans-serif;
        font-size: 24px;
        color: #A29A89;
    }
 
    .card .nameProject{
        font-family: "Bebas Neue", sans-serif;
        color: #FFCCB2;
        font-size: 32px;
        font-weight: normal;     
    }

    .card .project-img{
        position: relative;
        top: 20px;
    }
    .card .project-img img{
        width: 100%;
      
    }
    .tech h1{
        font-size: clamp(16px, 3.5vw, 70px);
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tech{
        font-family: "Bebas Neue", sans-serif;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tech .item{
        display: flex;
        flex-direction: row;
        height: 48px;
        gap: 12px;
        width: 100%;
        overflow-x: auto;
    }
    .tech .item::-webkit-scrollbar{
        display: none;
    }
    .item1, .item2, .item3{
        display: flex;
        flex-direction: row;
        font-size: 16px;
        border: 1px solid black;
        align-items: center;
        padding: 15px 20px;
        gap: 4px;
        border-radius: 20px;
        width: 140px;
        background-color: #E5DFCF;
    }

    /* .tech{
        font-family: "Bebas Neue", sans-serif;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tech .item{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
        overflow-x: auto;
    }
    .tech .item::-webkit-scrollbar{
        display: none;
    }
    .item1, .item2, .item3{
        padding: 20px 40px;
        display: flex;
        flex-direction: row;
        font-size: 42px;
        border: 1px solid black;
        align-items: center;
        border-radius: 40px;
        min-width: 200px;
        gap: 0 4px;
        background-color: #E5DFCF;
    } */



    /* main-part */
    .main-part{
        font-family: "Bebas Neue", sans-serif;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 1em;
        margin-top: 20px;
        max-width: 1800px;
    }
    .main-part h1, .tech h1{
        color: #025A4E;
        font-weight: normal;
    }
    .main-part .mainCard{
        border-radius: 20px;
        border: 1px solid black;
        max-width: 672px;
        height: 350px;
        padding: 0 20px;
        margin-bottom: 20px;
        background-color: #E5DFCF;
        padding-bottom: 20px;

    }
    .main-part .mainCard .card_header_text{
        font-size: 32px;
        text-align: center;
    }
    .main-part .mainCard .card_description{
        text-align: center;
    }
    .main-part .mainCard .img{
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }

    .skill {
        max-width: 672px;
        padding: 0 19px 60px 19px;
        border: 1px solid black;
        border-radius: 20px;
        margin-bottom: 60px;
        background-color: #E5DFCF;
        
    }

    .skill_header{
        font-size: 32px;
        text-align: center;
        margin-bottom: 22px;
        
    }
    .card_header_text{
        font-size: 32px;
        color: #025A4E;
        text-align: center;
        margin-bottom: 20px;
    }

    .skill_list{
        display: flex;
        flex-wrap: wrap;
        gap: 12px 20px;
        justify-content: center;
    }

    .logoSkill{
        display: flex;
        flex-direction: row;
        font-size: 16px;
        border: 1px solid black;
        align-items: center;
        padding: 15px 20px;
        gap: 4px;
        border-radius: 20px;
        width: 140px;
    }
}
